<div class="container-fluid bg-title-result-quiz">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-12">
        <img src="/assets/marca-myr.png" class="img-fluid h-100 mb-4 w-270 img-myr-tech-result-quiz mt-4" data-aos="fade-down" data-aos-duration="1000" alt="Myr-tech">
      </div>
      <div class="col-md-6 col-12 text-center fs-20">
        <h4>ESG Maturity Measure</h4>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <!-- Título Principal -->
  <div class="row mt-4">
    <div class="col-12">
      <div class="card shadow text-center">
        <h2 class="text-white bg-title-result-quiz px-3 py-2 m-0 fs-20">Nível Geral</h2>
      </div>

      <div class="card p-4 shadow">
        <h3 class="mt-3 fs-20 text-center">Estágio 2 | Não Integrado</h3>
        <p class="mt-3 text-center">A organização trata o critério de modo inicial por meio de práticas dispersas, ainda não integradas de modo satisfatório com a gestão.</p>
        <p class="text-center fs-3rem">2.99</p>
        <div class="text-center d-flex justify-content-center">
          <canvas id="myDoughnutChart" width="350" height="215"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- Resultado por Eixo -->
  <div class="row mt-4">
    <div class="col-12">
      <div class="card shadow text-center">
        <h2 class="text-white bg-title-result-quiz px-3 py-2 m-0 fs-20">Resultado por eixo</h2>
      </div>

      <div class="card p-4 shadow">
        <div class="row">
          <!-- Legenda (E, S, G) -->
          <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column align-items-start">
              <div class="d-flex align-items-center mb-2">
                <span class="legend-box bg-yellow me-2"></span> Ambiental
              </div>
              <div class="d-flex align-items-center mb-2">
                <span class="legend-box bg-teal me-2"></span> Social
              </div>
              <div class="d-flex align-items-center">
                <span class="legend-box bg-purple me-2"></span> Governaça
              </div>
            </div>
          </div>
          <!-- Gráfico (col-8) -->
          <div class="col-12 col-md-8">
            <div class="chart-container" style="position: relative;">
              <canvas id="myChart" style="width: 600px !important; height: 300px !important;"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Resultado por Tema -->


  <div class="row mt-4">
    <div class="col-12">
      <div class="card shadow text-center">
        <h2 class="text-white bg-title-result-quiz px-3 py-2 m-0 fs-20">Resultado por Tema</h2>
      </div>
      <div class="card p-4 shadow">
        <div class="row">
          <!-- Gráfico 1 -->
          <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="chart-container" style="position: relative;">
              <canvas id="myChartTheme" style="width: 100%; height: 300px;"></canvas>
            </div>
          </div>
          <!-- Gráfico 2 -->
          <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="chart-container" style="position: relative;">
              <canvas id="myChartTheme1" style="width: 100%; height: 300px;"></canvas>
            </div>
          </div>
          <!-- Gráfico 3 -->
          <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="chart-container" style="position: relative;">
              <canvas id="myChartTheme2" style="width: 100%; height: 300px;"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Próximos Passos -->
  <div class="row mt-4">
    <div class="col-12">
      <div class="card shadow text-center">
        <h2 class="text-white bg-title-result-quiz px-3 py-2 m-0 fs-20">Próximos Passos</h2>
      </div>
      <div class="card p-4 shadow">
        <div class="row">
          <% @messages.each do |message_data| %>
            <div class="col-12 col-md-4">
              <div class="card h-100">
                <div class="card-body" style="background-color: <%= message_data[:color_code] %>;">
                  <h5 class="card-title"><%= message_data[:message].axi.name %></h5>
                  <p class="card-text"><%= message_data[:message].message %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  // Função para buscar os dados via JSON
  async function fetchResults(customerId) {
    const response = await fetch(`/result_quizzes?customer_id=${customerId}`, {
      headers: {
        "Accept": "application/json" // Adiciona o cabeçalho para especificar que espera JSON
      }
    });

    // Verifica se a resposta está ok
    if (!response.ok) {
      throw new Error('Network response was not ok');
    }

    const results = await response.json();
    console.log('results', results); // Log dos resultados para depuração
    return results;
  }

  // Função para gerar o gráfico
  async function generateChart() {
    const customerId = 12; // Substitua pelo ID correto do cliente

    try {
      const results = await fetchResults(customerId);

      const labels = results.map(result => `Axi ${result.axi_id}`); // Rótulos do gráfico
      const data = results.map(result => result.results.average_score); // Valores

      // Gera o gráfico
      new Chart(document.getElementById('myChart').getContext('2d'), {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: 'Resultado por Eixo',
            data: data,
            backgroundColor: ['rgba(219, 221, 133, 1)', 'rgba(2, 116, 127, 1)', 'rgba(155, 91, 148, 1)'],
            borderColor: ['rgba(219, 221, 133, 1)', 'rgba(2, 116, 127, 1)', 'rgba(155, 91, 148, 1)'],
            borderWidth: 1,
            barThickness: 80
          }]
        },
        options: {
          responsive: false,
          plugins: {
            datalabels: { // Adiciona a configuração do plugin
              color: '#fff', // Cor do texto dos rótulos
              font: {
                weight: 'bold'
              },
              formatter: (value, context) => {
                return value; // Exibe o valor dentro da barra
              }
            }
          },
          scales: {
            y: { beginAtZero: true },
            x: { ticks: { display: false } }
          }
        },
        plugins: [ChartDataLabels]
      });
    } catch (error) {
      console.error('Error generating chart:', error);
    }
  }

  // Chama a função para gerar o gráfico
  generateChart();
</script>



<script>
  console.log(Date.now());

  const ctxAxi1 = document.getElementById('myChart1').getContext('2d');

  new Chart(ctxAxi1, {
    type: 'bar',
    data: {
      labels: ['Ambiental', 'Social', 'Governança'], // Rótulos do eixo X
      datasets: [{
        label: 'Resultado por Eixo', // Adiciona um rótulo para o conjunto de dados
        data: [2.83, 3.16, 4], // Valores no eixo Y
        backgroundColor: [
          'rgba(219, 221, 133, 1)',
          'rgba(2, 116, 127, 1)',
          'rgba(155, 91, 148, 1)'
        ],
        borderColor: [
          'rgba(219, 221, 133, 1)',
          'rgba(2, 116, 127, 1)',
          'rgba(155, 91, 148, 1)'
        ],
        borderWidth: 1,
        barThickness: 80 // Ajusta a largura das barras (em pixels)
      }]
    },
    options: {
      responsive: false,
      scales: {
        y: {
          beginAtZero: true,
          grid: {
            display: false // Remove todas as linhas de grade do eixo Y
          },
          border: {
            display: false // Remove a linha de borda do lado esquerdo (eixo Y)
          },
          ticks: {
            display: false // Remove os números do eixo Y
          }
        },
        x: {
          grid: {
            display: false // Remove todas as linhas de grade do eixo X
          },
          ticks: {
            display: false // Remove os números do eixo X
          },
          border: {
            display: true, // Exibe a linha do rodapé
            width: 2, // Define a altura da linha do rodapé (2px)
            color: 'black' // Cor da linha do rodapé
          }
        }
      }
    }
  });
</script>


<script>
  const ctxGeral = document.getElementById('myDoughnutChart').getContext('2d');

  new Chart(ctxGeral, {
    type: 'doughnut',
    data: {
      labels: ['Média', 'Restante'],
      datasets: [{
        label: 'Média de Desempenho',
        data: [2.99, 5], // Média fixa de 3 e o restante até o total de 6
        backgroundColor: [
          'rgba(75, 192, 192, 0.6)', // Cor para a média
          'rgba(192, 192, 192, 0.6)'  // Cor para o restante
        ],
        borderColor: [
          'rgba(75, 192, 192, 1)',
          'rgba(192, 192, 192, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: false,
      maintainAspectRatio: false,
      plugins: {
        tooltip: {
          callbacks: {
            label: function(tooltipItem) {
              return tooltipItem.label + ': ' + tooltipItem.raw;
            }
          }
        }
      }
    }
  });
</script>



<script>
  console.log(Date.now());

  const ctxTheme = document.getElementById('myChartTheme').getContext('2d');

  new Chart(ctxTheme, {
    type: 'bar',
    data: {
      labels: ['Eficiência Energética', 'Recursos Hídricos', 'Economia Circular e Gestão de Resíduos', 'Emissão de Gases', 'Biodiversidade e Uso do Solo', 'Gestão Ambiental e Prevenção da Poluição'], // Rótulos do eixo X
      datasets: [{
        label: 'Resultado Ambiental', // Adiciona um rótulo para o conjunto de dados
        data: [2.83, 3.16, 4, 3, 2, 1], // Valores no eixo Y
        backgroundColor: [
          'rgba(219, 221, 133, 1)',
          'rgba(219, 221, 133, 1)',
          'rgba(219, 221, 133, 1)',
          'rgba(219, 221, 133, 1)',
          'rgba(219, 221, 133, 1)',
          'rgba(219, 221, 133, 1)',
        ],
        borderColor: [
          'rgba(219, 221, 133, 1)',
          'rgba(2, 116, 127, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
        ],
        borderWidth: 1,
        barThickness: 50 // Ajusta a largura das barras (em pixels)
      }]
    },
    options: {
      responsive: false,
      scales: {
        y: {
          beginAtZero: true,
          grid: {
            display: false // Remove todas as linhas de grade do eixo Y
          },
          ticks: {
            display: false // Remove os números do eixo Y
          }
        },
        x: {
          grid: {
            display: false // Remove todas as linhas de grade do eixo X
          },
          ticks: {
            display: false // Remove os números do eixo X
          },
          border: {
            display: true // Exibe a linha de borda no rodapé
          }
        }
      }
    }
  });
</script>

<script>
  console.log(Date.now());

  const ctxTheme1 = document.getElementById('myChartTheme1').getContext('2d');

  new Chart(ctxTheme1, {
    type: 'bar',
    data: {
      labels: ['Diálogo e Impacto Social', 'Desenvolvimento Profissional', 'Economia Circular e Gestão de Resíduos', 'Emissão de Gases', 'Biodiversidade e Uso do Solo', 'Gestão Ambiental e Prevenção da Poluição'], // Rótulos do eixo X
      datasets: [{
        label: 'Resultado Social', // Adiciona um rótulo para o conjunto de dados
        data: [2, 3, 1, 2, 4, 2], // Valores no eixo Y
        backgroundColor: [
          'rgba(2, 116, 127, 1)',
          'rgba(2, 116, 127, 1)',
          'rgba(2, 116, 127, 1)',
          'rgba(2, 116, 127, 1)',
          'rgba(2, 116, 127, 1)',
          'rgba(2, 116, 127, 1)',

        ],
        borderColor: [
          'rgba(219, 221, 133, 1)',
          'rgba(2, 116, 127, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
        ],
        borderWidth: 1,
        barThickness: 50 // Ajusta a largura das barras (em pixels)
      }]
    },
    options: {
      responsive: false,
      scales: {
        y: {
          beginAtZero: true,
          grid: {
            display: false // Remove todas as linhas de grade do eixo Y
          },
          ticks: {
            display: false // Remove os números do eixo Y
          }
        },
        x: {
          grid: {
            display: false // Remove todas as linhas de grade do eixo X
          },
          ticks: {
            display: false // Remove os números do eixo X
          },
          border: {
            display: true // Exibe a linha de borda no rodapé
          }
        }
      }
    }
  });
</script>

<script>
  console.log(Date.now());

  const ctxTheme2 = document.getElementById('myChartTheme2').getContext('2d');

  new Chart(ctxTheme2, {
    type: 'bar',
    data: {
      labels: ['Diálogo e Impacto Social', 'Desenvolvimento Profissional', 'Economia Circular e Gestão de Resíduos', 'Emissão de Gases', 'Biodiversidade e Uso do Solo', 'Gestão Ambiental e Prevenção da Poluição'], // Rótulos do eixo X
      datasets: [{
        label: 'Resultaddo Governaça', // Adiciona um rótulo para o conjunto de dados
        data: [2.83, 3.16, 4, 3, 2, 1], // Valores no eixo Y
        backgroundColor: [

          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',

        ],
        borderColor: [
          'rgba(219, 221, 133, 1)',
          'rgba(2, 116, 127, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
          'rgba(155, 91, 148, 1)',
        ],
        borderWidth: 1,
        barThickness: 50 // Ajusta a largura das barras (em pixels)
      }]
    },
    options: {
      responsive: false,
      scales: {
        y: {
          beginAtZero: true,
          grid: {
            display: false // Remove todas as linhas de grade do eixo Y
          },
          ticks: {
            display: false // Remove os números do eixo Y
          }
        },
        x: {
          grid: {
            display: false // Remove todas as linhas de grade do eixo X
          },
          ticks: {
            display: false // Remove os números do eixo X
          },
          border: {
            display: true // Exibe a linha de borda no rodapé
          }
        }
      }
    }
  });
</script>


