<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relatório de Desempenho</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    /* Ajuste o tamanho do gráfico para caber no PDF */
    canvas {
      width: 400px;
      height: 400px;
    }
  </style>
</head>
<body>
  <h1>Relatório de Desempenho</h1>

  <div>
    <canvas id="myDoughnutChart"></canvas>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const ctxGeral = document.getElementById('myDoughnutChart').getContext('2d');
      new Chart(ctxGeral, {
        type: 'doughnut',
        data: {
          datasets: [{
            label: 'Média de Desempenho',
            data: [<%= (@total_average_score / 3).round(2) %>, <%= @remaining_score %>], // Usa os dados do servidor
            backgroundColor: [
              'rgba(75, 192, 192, 0.6)', // Cor para a média
              'rgba(192, 192, 192, 0.6)'  // Cor para o restante
            ],
            borderColor: [
              'rgba(75, 192, 192, 1)',
              'rgba(192, 192, 192, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          responsive: false,
          maintainAspectRatio: false
        }
      });
    });
  </script>
</body>
</html>

