<div class='container-fluid image-bonsai-growth'>
  <div class='container'>
    <div class='row align-items-center g-4 py-5'>
      <div class='col-lg-6 col-12 pe-lg-5'>
        <div class='mb-5'>
          <div class="display-3 pb-4 text-muted space-logo">
            <%= image_tag 'marca-myr.png', class: "img-fluid h-100 mb-30 w-270", data: { aos: "fade-down", aos_duration: "1000" }, alt: "Myr-tech" %>
            <br>
            <span class="gradient-text fw-bold d-table-cell lh-55" data-aos="fade-left" data-aos-duration="1000"> Conheça sua <span class='bg-maturity'>maturidade</span> na agenda ESG</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='container-fluid image-maturity'>
  <div class='container py-5'>
    <div class='row align-items-center g-md-5 g-4'>
      
    </div>
  </div>
</div>

<div class='container-fluid image-maturity'>
  <div class='container py-5'>
    <div class='row align-items-center g-md-5 g-4'>
      <div class='col-lg-6 col-12'>
      </div>
      <div class='col-lg-6 col-12'>
        <div class='mb-5'>
          <div class='d-flex justify-content-end align-items-end'>
            <div class='bg-green rounded-5 text-center p-5 color-text-maturity'>
              <p>
              Em um mundo onde a <span class='bold-text'>sustentabilidade</span> e a <span class='bold-text'>responsabilidade corporativa</span> 
              são cada vez mais valorizadas, a jornada ESG se tornou essencial para empresas que buscam não apenas o sucesso financeiro, mas também prosperidade e um impacto positivo no mundo ao seu redor. 
              </p>
              <p>
                <span class='bold-text'>Identificar os</span> <span class='color-internship-maturity'>estágios de maturidade dos critérios ESG</span> é essencial para definir metas realistas e desenvolver um plano de ação que impulsione o progresso.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


