<h1>Conheça sua Maturidade na agenda ESG
</h1>
<p>
Em um mundo onde a Sustentabilidade e a responsabilidade corporativa são cada vez mais valorizadas, a jornada ESG se tornou essencial para empresas que buscam não apenas o sucesso financeiro, mas também prosperidade e um impacto positivo no mundo ao seu redor. 
Identificar os estágios de maturidade dos critérios ESG é essencial para definir metas realistas e desenvolver um plano de ação que impulsione o progresso

</p>
<%= link_to new_customer_path, class: "btn btn-sm btn-success m-b-10" do %>
  <i class="fa fa-plus m-r-5"></i>
  Iniciar
<% end %>

