<div class="intro-governanca d-flex justify-content-center align-items-center vh-100">
  <div class='col-md-8 py-3'>
    
    <div class='text-center'>
      <h1 class='mb-2 mt-4  number-axis-governanca' data-slides-target="id"></h1>
      <h2 class='title-axis-governanca' data-slides-target="title"></h2>

      <div class="dots mb-5">
        <span class="dot" data-action="click->slides#currentSlide" data-slides-index-param="1"></span>
        <span class="dot" data-action="click->slides#currentSlide" data-slides-index-param="2"></span>
        <span class="dot active-governanca" data-action="click->slides#currentSlide" data-slides-index-param="3"></span>
      </div>
      <p class='description-axis-governanca mb-5'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum bibendum dolor, nec ultrices turpis. Praesent pulvinar sit amet orci ac aliquet. Cras non ultrices mauris.
      </p>
      <%= link_to "Começar", axi_answers_path(id: 3), class: "btn-start btn-governanca mt-5" %>

    </div>
  </div>
</div>


