h1 {
  font-size: 40px !important;
}
h2 {
  font-size: 30px !important;
}

.d-none-sustainability-card {
  display: none;
}

.h-logo-form {
  height: 80px;
}

.h-100 {
  height: 100px;
}

.w-270 {
  width: 270px;
}

.w-150 {
  width: 150px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.lh-55 {
  line-height: 55px;
}

.px-3-2 {
  padding-right: 3.2rem !important;
  padding-left: 3.2rem !important;
}

.mt-4rem {
  margin-top: 4rem;
}

.mt-10 {
  margin-top: -10px !important;
}

.mt-40 {
  margin-top: 40px;
}

.bg-login {
  background-color: #06363b;
}

.bg-button-login {
  background-color: #dbdd71 !important;
  color: #338f98 !important;
}

.bg-title-result-quiz {
  background-color: #1e494e;
  color: #fff;
}

.fs-3rem {
  font-size: 3rem;
  font-weight: 600;
}

.img-myr-tech-result-quiz {
  height: 52px !important;
  width: 170px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fs-20 {
  font-size: 20px !important;
}

.card-login {
  border-radius: 12px;
  max-width: 600px;
}

.btn {
  border-radius: 30px;
}

input::placeholder {
  color: #6c757d;
  opacity: 1; /* Deixa a cor do placeholder visível */
}

@media (max-width: 768px) {
  .card-login {
    padding: 3rem 2rem;
  }

  .image-maturity,
  .business-advantages {
    background-position: bottom;
  }
}

.space-logo {
  padding-left: 54px;
  padding-top: 60px;
}

.image-bonsai-growth {
  background-image: url("../assets/bonsai-growth.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.image-maturity {
  background-image: url("/assets/img-maturity.jpg");
  background-size: cover;
  background-position: calc(0% - 50px) top;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.bg-maturity {
  background-color: #d3d800;
  color: #02747f;
  padding-left: 10px;
  padding-right: 10px;
}

.gradient-text {
  color: #fff;
  font: normal normal bold 40px/64px Montserrat;
  letter-spacing: 0px;
}

.space-title-quiz {
  padding-left: 40px;
  padding-right: 40px;
}

.color-environmental {
  color: #787a0c;
}

.color-social {
  color: #b6d7db;
  // color: #02747f;
}

.bg-green {
  background-color: #00737f;
  width: 405px;
}

.color-text-maturity {
  color: #fff;
  font-weight: 300;
}

.color-internship-maturity {
  color: #d0da00;
  font-weight: 700;
}

.bold-text {
  font-weight: 700;
}

.color-governanca {
  //background-color: #9b5b94;
  color: #f2c3ed;
}

.intro {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

.intro-environmental {
  background-image: url("bg-environmental.jpg");
}

.intro-social {
  background-image: url("bg-social.jpg");
}

.intro-governanca {
  background-image: url("bg-governanca.jpg");
}

.number-axis-environmental {
  text-align: center;
  font: normal normal bold 70px/86px Montserrat;
  letter-spacing: 0px;
  color: #fffcd8;
  opacity: 1;
}

.title-axis-environmental {
  text-align: center;
  font: normal 100 70px/86px Montserrat;
  letter-spacing: 35px;
  color: #fffcd8;
  opacity: 1;
  font-weight: 600;
}

.description-axis-environmental {
  text-align: center;
  font: normal normal 300 25px/37px Montserrat;
  letter-spacing: 0px;
  color: #fffcd8;
  opacity: 1;
}

.number-axis-social {
  text-align: center;
  font: normal normal bold 70px/86px Montserrat;
  letter-spacing: 0px;
  color: #b6d7db;
  opacity: 1;
}

.title-axis-social {
  text-align: center;
  font: normal normal 100 70px/86px Montserrat;
  letter-spacing: 35px;
  color: #b6d7db;
  opacity: 1;
  font-weight: 600;
}

.description-axis-social {
  text-align: center;
  font: normal normal 300 25px/37px Montserrat;
  letter-spacing: 0px;
  color: #b6d7db;
  opacity: 1;
}

.number-axis-governanca {
  text-align: center;
  font: normal normal bold 70px/86px Montserrat;
  letter-spacing: 0px;
  color: #f2c3ed;

  opacity: 1;
}

.title-axis-governanca {
  text-align: center;
  font: normal normal 100 70px/86px Montserrat;
  letter-spacing: 35px;
  color: #f2c3ed;
  opacity: 1;
  font-weight: 600;
}

.description-axis-governanca {
  text-align: center;
  font: normal normal 300 25px/37px Montserrat;
  letter-spacing: 0px;
  color: #f2c3ed;
  opacity: 1;
}

.title-axis {
  letter-spacing: 4px;
  opacity: 1;
}

.btn-step {
  border-radius: 55px;
  opacity: 1;
  width: 110px;
  height: 40px;
  border: none;
}

.btn-previous-environmental {
  background: #f1f2d4 0% 0% no-repeat padding-box;
  color: #787a0c;
}

.btn-next-environmental {
  background: #dbdd71 0% 0% no-repeat padding-box;
  color: #787a0c;
}

.btn-previous-social {
  background: #d6f0f2 0% 0% no-repeat padding-box;
  color: #02747f;
}

.btn-next-social {
  background: #02747f 0% 0% no-repeat padding-box;
  color: #b6d7db;
}

.btn-previous-governanca {
  background: #e6cbe3 0% 0% no-repeat padding-box;
  color: #9b5b94;
}

.btn-next-governanca {
  background: #9b5b94 0% 0% no-repeat padding-box;
  color: #f2c3ed;
}

.btn-start {
  width: 160px;
  height: 44px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 55px;
  border: 1px solid #707070;
  opacity: 1;
  display: inline-block;
  text-align: center;
  text-decoration: auto;
  font: normal normal bold 15px/40px Montserrat;
  transition: all 0.3s ease; /* Transição suave para o hover */
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Inicialmente sem sombra */
}

.btn-start:hover {
  // border-color: #ffffff; /* Muda a cor da borda */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
  transform: translateY(-4px); /* Eleva ligeiramente o botão */
}

/* Efeito de "pressão" no clique */
.btn-start:active {
  transform: translateY(0); /* Remove a elevação no clique */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra menos intensa */
}

.btn-environmental {
  color: #787a0c;
}

.btn-social {
  color: #02747f;
}

.btn-governanca {
  color: #9b5b94;
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dot-quiz-environmental {
  background-color: #f1f2d4 !important;
}
.dot-quiz-environmental-active {
  background-color: #dbdd71 !important;
}

.dot-quiz-social {
  background: #d6f0f2 !important;
}

.dot-quiz-social-active {
  background: #02747f !important;
}

.dot-quiz-governance {
  background: #e6cbe3 !important;
}

.dot-quiz-governance-active {
  background: #9b5b94 !important;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background: #787a0c 0% 0% no-repeat padding-box;
}
.active-social {
  background: #b6d7db 0% 0% no-repeat padding-box;
}

.active-governanca {
  background: #600c56 0% 0% no-repeat padding-box;
}

.error-form-customer {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 87.5%;
  color: #dbdd71;
}

.invalid-field {
  border-color: #dbdd71 !important;
  padding-right: calc(1.5em + 0.94rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23f56e6e'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23f56e6e' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.235rem) center;
  background-size: calc(0.75em + 0.47rem) calc(0.75em + 0.47rem);
}

/* Begin Result Quizzes */
/* Cores personalizadas */
.bg-purple {
  background-color: #6a1b9a; /* Cor roxa */
}

.bg-teal {
  background-color: #008080; /* Cor teal */
}

/* Blocos de temas */
.theme-results {
  display: flex;
  flex-wrap: wrap;
}

.theme-block {
  flex: 1 1 30%; /* Ocupar cerca de 30% do espaço */
  min-width: 150px; /* Largura mínima */
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

/* fsdafdsafdsa */

/* Cores customizadas */
.bg-yellow {
  background-color: #f0e68c; /* Amarelo */
}

.bg-teal {
  background-color: #4682b4; /* Azul Teal */
}

.bg-purple {
  background-color: #800080; /* Roxo */
}

/* Estilos da legenda */
.legend-box {
  width: 20px;
  height: 20px;
  display: inline-block;
}

/* Barras do gráfico */
.eixo-results {
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

.eixo-bar {
  width: 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #eaeaea; /* Cor de fundo para toda a barra */
  height: 100px; /* Altura máxima da barra */
  border-radius: 8px; /* Deixa as bordas arredondadas */
}

.eixo-bar-fill {
  width: 100%;
  border-radius: 8px 8px 0 0;
  position: absolute;
  bottom: 0;
}

.eixo-value {
  position: absolute;
  bottom: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 1;
}

/* Cores dos valores */
.text-yellow {
  color: #f0e68c;
}

.text-teal {
  color: #4682b4;
}

.text-purple {
  color: #800080;
}

.legend-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
}

.bg-yellow {
  background-color: rgba(219, 221, 133, 1);
}

.bg-teal {
  background-color: rgba(2, 116, 127, 1);
}

.bg-purple {
  background-color: rgba(155, 91, 148, 1);
}

.chart-container {
  max-width: 100%;
}

.custom-swal-popup {
  background-color: #06363b; /* Altere para a cor desejada */
  color: #fff; /* Cor do texto */
}

.bnt-pop-up {
  background-color: #dbdd71;
  border-radius: 55px;
  color: #338f98;
  width: 150px;
}

.btn-result-quiz {
  background-color: #1e494e !important;
  color: #fff !important;
  border-radius: 55px !important;
  letter-spacing: 0.36px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn-result-quiz:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
  transform: translateY(-4px); /* Eleva ligeiramente o botão */
}

.btn-result-quiz:active {
  transform: translateY(0); /* Remove a elevação no clique */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra menos intensa */
}

.chart-axi {
  width: 600px !important;
  height: 300px !important;
}

.chart-by-themes {
  width: 400px;
  height: 300px;
}

/* Popup*/

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.star {
  font-size: 2rem;
  color: #338f98;
  cursor: pointer;
  margin: 0 5px;
  padding-top: 15px;
}

.star.selected {
  color: gold;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
  justify-content: center !important;
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #06363b !important;
}

.modal-title {
  text-align: center;
  width: 100%;
}

.space-logo-popup {
  margin-top: 20px;
}

.btn-close {
  margin-top: -40px;
  background-color: #fff;
  font-size: 10px;
}

.btn-send {
  background: #dbdd71 0% 0% no-repeat padding-box;
  border-radius: 55px;
  opacity: 1;
  width: 422px;
  height: 40px;
  color: #338f98;
  font-weight: 500;
}

.modal-body .rating-line {
  position: absolute;
  top: -20px; /* Ajusta a altura da linha */
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
  width: calc(100% - 120px); /* Deixa um espaço de 10px de cada lado */
  margin: 0 auto;
}

.modal-body .stars {
  position: relative;
  text-align: center;
}

.modal-footer .left-line,
.modal-footer .right-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #fff;
}

.modal-footer .left-line {
  left: 70px;
  height: calc(100% - -55px);
  position: absolute;
  top: -113px;
}

.modal-footer .right-line {
  right: 70px;
  height: calc(100% - -55px);
  position: absolute;
  top: -113px;
}

.error-message {
  position: relative;
  left: 117px;
}

.minus-15 {
  top: -15px;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0; /* Fixa no topo */
  z-index: 1020; /* Garante que fique acima de outros elementos */
}

.no-cursor-point {
  cursor: default;
}

.h-54 {
  height: 54px;
}

.w-350 {
  width: 350px;
}

/* Home index */

.section {
  width: 100%;
  background-size: cover;
  // background-position: center;
  color: white;
}

.agenda-esg {
  background-color: #00737f;
}

.agenda-esg-text {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  opacity: 1;
  text-align: left;
}

.pt-3-rem {
  padding-top: 3rem;
  font-size: 14px;
  font-weight: 300;
}

.pt-3-rem span {
  font-weight: 700;
}

.agenda-esg-card {
  background: #f6f6f6;
  box-shadow: 0px 10px 10px #00000029;
  border-radius: 20px;
  opacity: 1;
  position: relative;
  min-height: 400px;
}

.font-size-40 {
  font-size: 40px;
}

.card-color-environmental {
  color: #c2c511;
}

.card-color-social {
  color: #02747f;
}

.card-color-governance {
  color: #985991;
}

.color-text-card {
  color: #2a2a2a;
  font-size: var(--bs-body-font-size);
}

.esg-card-header {
  /*
  padding: 20px;
  display: flex;
  justify-content: center;
  */
  position: absolute;
}

.esg-card-header img {
  width: 150px;
  height: auto;
  position: relative;
  top: -100px;
  left: 75%;
}

.esg-card-footer {
  height: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-color-footer-environmental {
  background-color: #dbdd71;
}

.card-color-footer-social {
  background-color: #02747f;
}

.card-color-footer-governance {
  background-color: #9b5b94;
}

.effect-footer {
  position: relative;
  top: -1px;
  right: -13px;
  width: 94%;
  border-bottom: 3px solid #fff;
}

.effect-footer-mbs {
  margin-bottom: 100px;
}

.pt-80 {
  padding-top: 80px;
}

.spacing-agenda-esg {
  padding-top: 3.5rem;
}

.business-advantages11 {
  background-image: url(/assets/bg-people.jpg);
  background-size: cover;
  background-position: center; /* Removendo o calc */
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw; /* Garante que ocupe toda a largura da viewport */
  overflow: hidden; /* Evita possíveis barras de rolagem */
  position: relative;
  margin-left: -50vw;
  margin-right: -50vw;
}

.business-advantages {
  background-image: url("/assets/bg-people.jpg");
  /*background-size: contain;*/
  background-position: right top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 80vh;
}

.bg-advantages {
  background-color: #00737f;
  border-radius: 14px;
  height: 65px;
  text-align: right;
  padding: 20px 5px;
  margin-left: -82px;
}

.bg-advantages h4 {
  margin-right: 3rem;
}

.bg-advantages p {
  font-size: 14px;
}

.text-advantages {
  color: #3a3a3a;
  font-size: 14px;
}

.text-advantages span {
  font-weight: 600;
}

.items-advantages {
  color: #3a3a3a;
  font-size: 14px;
}

.items-advantages li::marker {
  color: #00737f;
}

.quiz-objective {
  background-color: #e7e7e7;
  position: relative;
  overflow: hidden;
  padding-bottom: 150px;
  min-height: 80vh;
}

.objective h2 {
  color: #00737f;
  font-weight: 600b;
}

.objective p {
  color: #3a3a3a;
}

.objective span {
  font-weight: 600;
}

.img-axi {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px; /* Ajuste conforme necessário */
  height: auto;
  opacity: 0.8; /* Opacidade para mesclar com o conteúdo, ajuste conforme desejado */
}

.bg-footer {
  background-color: #004248;
}

.img-footer {
  width: 120px;
  height: auto;
}

.group-myr {
  color: #dbdd71;
  text-decoration: none;
  margin-top: 35px;
  font-weight: 700;
}

/* End home index */

/* Claudiney */

@media (min-width: 1450px) {
  .mt-10 {
    margin-top: 15px !important;
  }

  .bg-advantages {
    margin-left: -82px;
  }
}

@media (max-width: 1300px) {
  .space-logo {
    padding-top: 260px;
  }
  .d-none-custom {
    display: none !important;
  }

  .d-none-sustainability-card {
    display: block;
  }

  .bg-green {
    width: 100%;
  }

  .agenda-esg-card {
    min-height: 530px;
  }

  .image-bonsai-growth {
    background-image: url(/assets/bonsai-growth-mobile.jpg);
    background-position: bottom;
  }

  .image-maturity {
    background-image: url(/assets/img-maturity-mobile.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
  }

  .business-advantages {
    background-image: url("/assets/bg-people-mobile.jpg");
    background-position: bottom;
  }

  .image-maturity {
    background-position: bottom;
  }
}

@media (max-width: 768px) {
  .chart-container {
    height: 300px;
  }
}

/* End Result Quizzes */

/* Responsividade */
@media (max-width: 768px) {
  .gauge {
    width: 150px;
    height: 75px;
  }
  .gauge-center {
    width: 60px;
    height: 60px;
  }
  .gauge-value {
    font-size: 1.2rem;
  }

  .image-bonsai-growth {
    background-image: url("/assets/bonsai-growth-mobile.jpg");
    background-position: bottom;
  }

  .business-advantages {
    background-image: url("/assets/bg-people-mobile.jpg");
    background-position: bottom;
  }

  .image-maturity {
    background-image: url(/assets/img-maturity-mobile.jpg);
    background-position: bottom;
    height: 100vh;
    position: relative;
  }
}

/* End grafico */

@media (max-width: 1400px) {
  .chart-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chart-row > div {
    margin-bottom: 20px; /* Adiciona espaçamento entre os gráficos */
    width: 100%; /* Garante que cada gráfico ocupe toda a largura */
  }

  .line-chart {
    border-bottom: 1px solid #ccc !important;
  }
}

@media (max-width: 1300px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 990px) {
  .chart-axi {
    width: 445px;
    height: 270px;
  }
}

@media (max-width: 768px) {
  .title-axis-environmental {
    letter-spacing: 20px;
  }

  .mb-5 {
    margin-bottom: 2rem !important;
  }

  .mt-5 {
    margin-top: initial !important;
  }
}

@media (max-width: 430px) {
  .space-logo {
    padding-left: 35px;
  }

  .chart-axi {
    margin-top: 30px !important;
    width: 360px !important;
    height: 300px !important;
  }

  .agenda-esg-text,
  .mb-5 {
    text-align: center;
  }

  .space-logo {
    padding-top: 200px;
  }

  .spacing-next-section {
    margin-bottom: 3.5rem;
  }

  .spacing-top-section {
    margin-top: 3.5rem !important;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  .title-axis-environmental {
    letter-spacing: 20px !important;
  }

  .image-bonsai-growth {
    min-height: 115vh;
  }

  .image-maturity {
    min-height: 140vh;
  }

  .space-logo {
    padding-top: 120px;
  }

  .agenda-esg-text,
  .mb-5 {
    text-align: center;
  }

  .spacing-next-section {
    margin-bottom: 3.5rem;
  }

  .spacing-top-section {
    margin-top: 3.5rem !important;
  }

  .vh-100 {
    height: auto !important;
  }
  /* Outras configurações específicas para essa resolução */
}

@media (max-width: 576px) {
  .title-axis-environmental {
    letter-spacing: 20px !important;
  }

  .image-bonsai-growth {
    background-image: url("/assets/bonsai-growth-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }

  .business-advantages {
    background-image: url("/assets/bg-people-mobile.jpg");
  }

  h2 {
    font-size: 20px !important;
    text-align: left !important;
  }

  .chart-axi {
    margin-top: 30px !important;
    width: 320px !important;
    height: 280px !important;
  }

  .chart-by-themes {
    width: 320px;
    height: 245px;
  }

  .h-logo-form {
    height: auto;
    width: 150px;
  }
}
