h1 {
  font-size: 40px !important;
}
h2 {
  font-size: 30px !important;
}

.space-title-quiz {
  padding-left: 40px;
  padding-right: 40px;
}

.color-environmental {
  color: #787a0c;
}

.color-social {
  color: #b6d7db;
  // color: #02747f;
}

.color-governanca {
  //background-color: #9b5b94;
  color: #f2c3ed;
}

.intro-environmental {
  background-color: #dbdd71;
}

.intro-social {
  background-color: #02747f;
}

.intro-governanca {
  background-color: #9b5b94;
}

.number-axis-environmental {
  text-align: center;
  font: normal normal bold 70px/86px Montserrat;
  letter-spacing: 0px;
  color: #787a0c;
  opacity: 1;
}

.title-axis-environmental {
  text-align: center;
  font: normal normal 100 70px/86px Montserrat;
  letter-spacing: 35px;
  color: #787a0c;
  opacity: 1;
}

.description-axis-environmental {
  text-align: center;
  font: normal normal 300 25px/37px Montserrat;
  letter-spacing: 0px;
  color: #787a0c;
  opacity: 1;
}

.number-axis-social {
  text-align: center;
  font: normal normal bold 70px/86px Montserrat;
  letter-spacing: 0px;
  color: #b6d7db;
  opacity: 1;
}

.title-axis-social {
  text-align: center;
  font: normal normal 100 70px/86px Montserrat;
  letter-spacing: 35px;
  color: #b6d7db;
  opacity: 1;
}

.description-axis-social {
  text-align: center;
  font: normal normal 300 25px/37px Montserrat;
  letter-spacing: 0px;
  color: #b6d7db;
  opacity: 1;
}

.number-axis-governanca {
  text-align: center;
  font: normal normal bold 70px/86px Montserrat;
  letter-spacing: 0px;
  color: #f2c3ed;

  opacity: 1;
}

.title-axis-governanca {
  text-align: center;
  font: normal normal 100 70px/86px Montserrat;
  letter-spacing: 35px;
  color: #f2c3ed;
  opacity: 1;
}

.description-axis-governanca {
  text-align: center;
  font: normal normal 300 25px/37px Montserrat;
  letter-spacing: 0px;
  color: #f2c3ed;
  opacity: 1;
}

.title-axis {
  letter-spacing: 4px;
  opacity: 1;
}

.btn-step {
  border-radius: 55px;
  opacity: 1;
  width: 110px;
  height: 40px;
  border: none;
}

.btn-previous {
  background: #f1f2d4 0% 0% no-repeat padding-box;
}

.btn-next {
  background: #dbdd71 0% 0% no-repeat padding-box;
}

.btn-start {
  width: 160px;
  height: 44px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 55px;
  border: 1px solid #707070;
  opacity: 1;
  display: inline-block;
  text-align: center;
  text-decoration: auto;
  font: normal normal bold 15px/40px Montserrat;
  transition: all 0.3s ease; /* Transição suave para o hover */
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Inicialmente sem sombra */
}

.btn-start:hover {
  //background-color: #707070; /* Muda a cor de fundo */
  //color: #fff; /* Muda a cor do texto para branco */

  // border-color: #ffffff; /* Muda a cor da borda */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
  transform: translateY(-4px); /* Eleva ligeiramente o botão */
}

/* Efeito de "pressão" no clique */
.btn-start:active {
  transform: translateY(0); /* Remove a elevação no clique */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra menos intensa */
}

.btn-environmental {
  color: #787a0c;
}

.btn-social {
  color: #02747f;
}

.btn-governanca {
  color: #9b5b94;
}

.dots {
  text-align: center;
  margin-top: 20px;
}

.dot-quiz-environmental {
  background-color: #f1f2d4 !important;
}
.dot-quiz-environmental-active {
  background-color: #dbdd71 !important;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background: #787a0c 0% 0% no-repeat padding-box;
}
.active-social {
  background: #b6d7db 0% 0% no-repeat padding-box;
}

.active-governanca {
  background: #600c56 0% 0% no-repeat padding-box;
}
