<!-- app/views/layouts/pdf.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PDF</title>
  <!-- Inclua aqui qualquer estilo CSS necessário para o PDF -->
  <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
</head>
<body>
  <%= yield %>
</body>
</html>

